[twitter]
# You get those keys when you follow these steps:
# https://developer.twitter.com/en/docs/basics/authentication/guides/access-tokens
consumer_key = "your_consumer_key"
consumer_secret = "your_consumer_secret"

[web]
host = "0.0.0.0"  # will be used by bottle as a host.
port = 80
contact = "b3yond@riseup.net"

[mail]
mailserver = "smtp.riseup.net"
user = "user"
passphrase = "sup3rs3cur3"
mbox = "root"

[database]
db_path = "/var/ticketfrei/db.sqlite"
