[twitter]
# You get those keys when you follow these steps:
# https://developer.twitter.com/en/docs/basics/authentication/guides/access-tokens
consumer_key = "your_consumer_key"
consumer_secret = "your_consumer_secret"

[web]
host = "0.0.0.0"  # will be used by bottle as a host.
contact = "b3yond@riseup.net"

[mail]
mailserver = "smtp.riseup.net"
user = "nbgticketfrei"
passphrase = "5MUIGw,GmSj)t@xW!jixq=b0U+@SJ{K{"

[logging]
# The directory where logs should be stored.
logpath = "logs/ticketfrei.log"

[database]
db_path = "ticketfrei.sqlite"
# when migrating to mysql:
# username = "username"
# password = "password"