[mapp]
name = 'yourcity_ticketfrei'

[muser]
email = 'youremail@server.tld'
password = 'yourpassword'
server = 'yourmastodoninstance'

[tapp]
consumer_key = "yourconsumerkey"
consumer_secret = "yourconsumersecret"

# shutdown_contact_userid = 012345
# shutdown_contact_screen_name = 'yourscreenname'

[tuser]
access_token_key = "youraccesstokenkey"
access_token_secret = "youraccesstokensecret"

# [trigger]
# goodlists are one regex per line.
# badlists are one badword per line.
# a message musst match at least one regex in goodlist and contain none of the badwords.
# the variables mention the directory where the lists are located, not the filenames.

# goodlist_path = 'goodlists'
# blacklist_path = 'blacklists'
