[mapp]
name = 'yourcity_ticketfrei'    # :todo: where do you receive the app name?

[muser]
email = 'youremail@server.tld'  # E-mail address of your Mastodon account
password = 'yourpassword'       # Password of your Mastodon account
server = 'yourmastodoninstance' # Instance where you have your Mastodon account

[tapp]
consumer_key = "yourconsumerkey"        # consumer key for the twitter API
consumer_secret = "yourconsumersecret"  # consumer secret for the twitter API

# shutdown_contact_userid = 012345                  # twitter id of your shutdown contact
# shutdown_contact_screen_name = 'yourscreenname'   # twitter name of your shutdown contact

[tuser]
access_token_key = "youraccesstokenkey"         # access token key for the twitter API
access_token_secret = "youraccesstokensecret"   # access token secret for the twitter API

# [trigger]
# goodlists are one regex per line.
# badlists are one badword per line.
# a message musst match at least one regex in goodlist and contain none of the badwords.
# the variables mention the directory where the lists are located, not the filenames.

# goodlist_path = 'goodlists'
# blacklist_path = 'blacklists'
