body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  background-position: center top;
  margin: 0;
}

.area {
    background-color: #FFF;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-height: 100%;
    position: relative;
}

.text {
    padding: 2em;
}

h1, h2 {
    text-align: left;
    margin-top: 0;
}

p {
    text-align: left;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 120%;
}

button:hover {
    opacity: 0.8;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
    text-align: center;
    padding: 4em;
    padding-top: 0;
    padding-bottom: 0;
    float: none;
}

.footer {
    padding: 2em;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 540px;
}